@media only screen and (max-width: 480px) {
  #user {
    display: none;
  }
}
.navbar {
  width: 100%;
}
.navbar-brand {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */

  text-transform: uppercase;

  color: #000000;
  padding: 0;
}
.nav-link active {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  text-transform: uppercase;

  /* Bazaar Black */

  color: #000000;
}
